# If, elif, else

In [6]:
num = 5
if num == 6 :
    print('Number is 6')
    
elif num>6:
        print('Number is greater then 6')
        
else:
            print('Number is less then 6')

Number is less then 6

In [15]:
d=[1,2,3,4,5,6,7,8,9,10]
for i in d:
    print("6 *",i,':',6*i)

6 * 1 : 6
6 * 2 : 12
6 * 3 : 18
6 * 4 : 24
6 * 5 : 30
6 * 6 : 36
6 * 7 : 42
6 * 8 : 48
6 * 9 : 54
6 * 10 : 60

In [21]:
name="Shubham"
if name=="Ajay":
    print('Hey Ajay')
elif name=="Shubham":
    print('Not You boy')
else:
        print('Ajay is not available')

Not You boy

# For loop

In [22]:
list1=[1,2,3,4,5,6,7,8,9,10]
for i in list1:
    print(6*i)

6
12
18
24
30
36
42
48
54
60

In [26]:
for i in list1:
    if i%2==0:
        print('Even no. is',":",i)
    else:
        print('Odd number is:',i)

Odd number is: 1
Even no. is : 2
Odd number is: 3
Even no. is : 4
Odd number is: 5
Even no. is : 6
Odd number is: 7
Even no. is : 8
Odd number is: 9
Even no. is : 10

In [27]:
st="Hello World"
for i in st:
    print(i)

H
e
l
l
o

W
o
r
l
d

In [28]:
d={'K1':1,"k2":2,'k3':3}

In [29]:
d

{'K1': 1, 'k2': 2, 'k3': 3}

In [30]:
for i in d:
    print(i)

K1
k2
k3

In [33]:
for k,v in d:
    print(v)

1
2
3

# While loop

In [37]:
x=1
while(x<11):
    print('6 *',x,6*x)
    x=x+1

6 * 1 6
6 * 2 12
6 * 3 18
6 * 4 24
6 * 5 30
6 * 6 36
6 * 7 42
6 * 8 48
6 * 9 54
6 * 10 60

In [38]:
ms="Hello"
for i in ms:
    print(i)

H
e
l
l
o

In [56]:
x=0
while x<5:
    print("x is",x)
    x=x+1
else:
        print("end")

x is 0
x is 1
x is 2
x is 3
x is 4
end

In [62]:
sy=[1,2,3]
for i in sy:
    pass
print('end')

end